@font-face{font-display:block;font-family:Alegreya Black;font-style:normal;font-weight:900;src:url(/rsrc.php/yk/r/f0_0MX2Lt1-.ttf) format("truetype")}

@font-face{font-family:Alegreya Preview;src:url(/rsrc.php/yG/r/VP2Dkp5pzyJ.ttf) format("truetype");font-weight:900;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Alegreya Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yt/r/_K0h3pfZPdO.ttf) format("truetype")}

@font-face{font-family:Alegreya Preview;src:url(/rsrc.php/y5/r/cvYWrWZjkgp.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Alegreya ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/yG/r/17p1FE4eMcJ.ttf) format("truetype")}

@font-face{font-family:Alegreya Preview;src:url(/rsrc.php/yN/r/ge8Kc0oLSYl.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Alegreya Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yi/r/qUndxSOUpqX.ttf) format("truetype")}

@font-face{font-family:Alegreya Preview;src:url(/rsrc.php/yu/r/0ma8jb2qJBK.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Alegreya Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yX/r/RQzQOuuAeYx.ttf) format("truetype")}

@font-face{font-family:Alegreya Preview;src:url(/rsrc.php/yF/r/mmwwSD1CRbZ.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Arimo Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y8/r/HSMWgaHGli3.ttf) format("truetype")}

@font-face{font-family:Arimo Preview;src:url(/rsrc.php/yf/r/oCo0CoONngq.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Arimo Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yk/r/SXfGVJTKHAg.ttf) format("truetype")}

@font-face{font-family:Arimo Preview;src:url(/rsrc.php/yJ/r/OIUIkBX3Evp.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Baloo2 Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yF/r/P6DiF11wMUk.ttf) format("truetype")}

@font-face{font-family:"Baloo 2 Preview";src:url(/rsrc.php/yO/r/-7q1KL01gYI.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Baloo2 ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/y-/r/vFg_QVVDo2C.ttf) format("truetype")}

@font-face{font-family:"Baloo 2 Preview";src:url(/rsrc.php/yp/r/X9ucyRZR_I4.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Baloo2 SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/y7/r/KbrgsvYQrE8.ttf) format("truetype")}

@font-face{font-family:"Baloo 2 Preview";src:url(/rsrc.php/y3/r/Xw_8dnLVGHd.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Barlow Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yH/r/4NJS5SGQRvX.ttf) format("truetype")}

@font-face{font-family:Barlow Preview;src:url(/rsrc.php/yd/r/yL1AiUAvUCw.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Barlow Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/y7/r/qNJjN5ghV0x.ttf) format("truetype")}

@font-face{font-family:Barlow Preview;src:url(/rsrc.php/y5/r/FqEoPXZmotR.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Barlow SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yg/r/jJ0ufJ1tjYs.ttf) format("truetype")}

@font-face{font-family:Barlow Preview;src:url(/rsrc.php/yt/r/tiJPbd4knXI.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Bebas Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yF/r/9lPcn5wE4YI.ttf) format("truetype")}

@font-face{font-family:Bebas Preview;src:url(/rsrc.php/yz/r/E8jMQZhV0xT.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:BebasNeue Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/ym/r/DYxVnxbKZkq.ttf) format("truetype")}

@font-face{font-family:Bebas Neue Preview;src:url(/rsrc.php/yx/r/zlo32tVGL0d.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:BungeeShade Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y-/r/zVp0bmppZrO.ttf) format("truetype")}

@font-face{font-family:Bungee Shade Preview;src:url(/rsrc.php/yh/r/FKwRzhkGk-3.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Cabin Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y2/r/8405uWh9Kq1.ttf) format("truetype")}

@font-face{font-family:Cabin Preview;src:url(/rsrc.php/yf/r/gpojHLfVg_3.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Cabin Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/ym/r/wKyP7Tr7ZRP.ttf) format("truetype")}

@font-face{font-family:Cabin Preview;src:url(/rsrc.php/yC/r/mOQC-gX5KPW.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Cabin Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yT/r/caKL6egZkSH.ttf) format("truetype")}

@font-face{font-family:Cabin Preview;src:url(/rsrc.php/yo/r/0Z8Pp4tDkQR.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Cabin SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/y_/r/yUWzrKiwjAH.ttf) format("truetype")}

@font-face{font-family:Cabin Preview;src:url(/rsrc.php/yP/r/E1ySJa0Qz-K.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Comfortaa Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yo/r/f7roBno_QLQ.ttf) format("truetype")}

@font-face{font-family:Comfortaa Preview;src:url(/rsrc.php/y1/r/g8ReAbC8K6j.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Comfortaa SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/y8/r/SZ0JSIuzI1l.ttf) format("truetype")}

@font-face{font-family:Comfortaa Preview;src:url(/rsrc.php/ye/r/871qqZwgBlK.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:CourierPrime Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yu/r/pTohrTMOguG.ttf) format("truetype")}

@font-face{font-family:Courier Prime Preview;src:url(/rsrc.php/yD/r/kKwJT9pxSxG.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:CourierPrime Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yF/r/NOTqDvZUUCr.ttf) format("truetype")}

@font-face{font-family:Courier Prime Preview;src:url(/rsrc.php/yJ/r/b343hCgsdQA.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:DMSerifDisplay Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yB/r/Cj3cX0kZCyb.ttf) format("truetype")}

@font-face{font-family:"DM Serif Display Preview";src:url(/rsrc.php/yL/r/cqna4PDp3JT.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:DancingScript Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yO/r/0LEBDWn8utS.ttf) format("truetype")}

@font-face{font-family:Dancing Script Preview;src:url(/rsrc.php/yQ/r/xdy8QPrEQNr.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:DancingScript Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/y2/r/De_P24e0-3c.ttf) format("truetype")}

@font-face{font-family:Dancing Script Preview;src:url(/rsrc.php/y8/r/VYD0ZkeNjhe.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:DancingScript Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yN/r/z1Ra_tfQLLA.ttf) format("truetype")}

@font-face{font-family:Dancing Script Preview;src:url(/rsrc.php/yJ/r/IbFaCi_9q-5.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:DancingScript SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/ys/r/13J3sOGaBnr.ttf) format("truetype")}

@font-face{font-family:Dancing Script Preview;src:url(/rsrc.php/yv/r/-lLjJOKN9v_.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:EBGaramond Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yM/r/8Okswg4DYGt.ttf) format("truetype")}

@font-face{font-family:EB Garamond Preview;src:url(/rsrc.php/yH/r/YitJ3YKm1PW.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:EBGaramond ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/yo/r/1JxnE0AHGJN.ttf) format("truetype")}

@font-face{font-family:EB Garamond Preview;src:url(/rsrc.php/y8/r/snP7KzVpGxX.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:EBGaramond Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yu/r/ctn7dldJ3Mx.ttf) format("truetype")}

@font-face{font-family:EB Garamond Preview;src:url(/rsrc.php/yL/r/AOO505DKU1r.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:EBGaramond Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y4/r/3QOd9KN_OPY.ttf) format("truetype")}

@font-face{font-family:EB Garamond Preview;src:url(/rsrc.php/yf/r/P4Jo5KfVHJJ.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:EBGaramond SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yB/r/fDUQ7Q0GVrM.ttf) format("truetype")}

@font-face{font-family:EB Garamond Preview;src:url(/rsrc.php/yQ/r/4ahbwAzoLQq.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Exo2 Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yX/r/pmH-hop7DUq.ttf) format("truetype")}

@font-face{font-family:"Exo 2 Preview";src:url(/rsrc.php/yH/r/DKD-8Atx-hS.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Exo2 Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yv/r/Y5VOsCTCCTQ.ttf) format("truetype")}

@font-face{font-family:"Exo 2 Preview";src:url(/rsrc.php/yZ/r/fxG60N3Xqlb.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Exo2 SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yC/r/6_kX9LwsMSw.ttf) format("truetype")}

@font-face{font-family:"Exo 2 Preview";src:url(/rsrc.php/yP/r/hFKtX2jGYbp.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Faustina Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yk/r/TSvVtmQF_Y5.ttf) format("truetype")}

@font-face{font-family:Faustina Preview;src:url(/rsrc.php/yT/r/MKYnd5Owv7E.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Faustina ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/yi/r/VlmzKQKjnUP.ttf) format("truetype")}

@font-face{font-family:Faustina Preview;src:url(/rsrc.php/yW/r/c6fuHuJufia.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Faustina Light;font-style:normal;font-weight:300;src:url(/rsrc.php/y8/r/FYcNjXdyWLg.ttf) format("truetype")}

@font-face{font-family:Faustina Preview;src:url(/rsrc.php/yb/r/OQq9vp4OeT8.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Faustina Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yZ/r/5leOW_9rISm.ttf) format("truetype")}

@font-face{font-family:Faustina Preview;src:url(/rsrc.php/yG/r/byqE2eEtDjs.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Faustina Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y_/r/W9N86mJNodx.ttf) format("truetype")}

@font-face{font-family:Faustina Preview;src:url(/rsrc.php/yy/r/Q2g2W2VeFBR.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Faustina SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yP/r/Cu7VlE6lOLI.ttf) format("truetype")}

@font-face{font-family:Faustina Preview;src:url(/rsrc.php/yA/r/nqOi6MUNXQZ.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FiraSans Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yP/r/VlVYwSGWWGS.ttf) format("truetype")}

@font-face{font-family:Fira Sans Preview;src:url(/rsrc.php/yL/r/PEVFjfzYHC7.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FiraSans Light;font-style:normal;font-weight:300;src:url(/rsrc.php/yU/r/GwJtUQZJfAb.ttf) format("truetype")}

@font-face{font-family:Fira Sans Preview;src:url(/rsrc.php/y-/r/DSIGYZS_jIx.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FiraSans Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yg/r/IuCmhi8jOuY.ttf) format("truetype")}

@font-face{font-family:Fira Sans Preview;src:url(/rsrc.php/yp/r/tgVmfcTyHMq.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FiraSans Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y3/r/4eu6p0q2I98.ttf) format("truetype")}

@font-face{font-family:Fira Sans Preview;src:url(/rsrc.php/yy/r/Vlf0yOtjsG-.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FiraSans SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yG/r/DdWUGrsbTQh.ttf) format("truetype")}

@font-face{font-family:Fira Sans Preview;src:url(/rsrc.php/yC/r/Feu8wvy-dqr.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FiraSansExtraCondensed Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yD/r/auK_hEu5bNe.ttf) format("truetype")}

@font-face{font-family:Fira Sans Extra Condensed Preview;src:url(/rsrc.php/yT/r/7BjxR2s-dGQ.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FiraSansExtraCondensed Italic;font-style:italic;font-weight:400;src:url(/rsrc.php/yL/r/7X3dwU_zJcD.ttf) format("truetype")}

@font-face{font-family:Fira Sans Extra Condensed Preview;src:url(/rsrc.php/yN/r/8lboidD030v.ttf) format("truetype");font-weight:400;font-style:italic;font-display:block}

@font-face{font-display:block;font-family:FiraSansExtraCondensed Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yU/r/zr-h75eR-G0.ttf) format("truetype")}

@font-face{font-family:Fira Sans Extra Condensed Preview;src:url(/rsrc.php/yB/r/IG-6Vu9z69t.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FrankRuhlLibre Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yE/r/3sqY-E-xSlC.ttf) format("truetype")}

@font-face{font-family:Frank Ruhl Libre Preview;src:url(/rsrc.php/yo/r/fuOnqXpznmc.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FrankRuhlLibre Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/y8/r/xxvimMCWb-j.ttf) format("truetype")}

@font-face{font-family:Frank Ruhl Libre Preview;src:url(/rsrc.php/yO/r/VeP8pSXecr9.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:FrankRuhlLibre SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yY/r/heNho_2ojWB.ttf) format("truetype")}

@font-face{font-family:Frank Ruhl Libre Preview;src:url(/rsrc.php/yr/r/vfNgIgERs2U.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Fredoka Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yU/r/zfxiUmy8bjm.ttf) format("truetype")}

@font-face{font-family:Fredoka Preview;src:url(/rsrc.php/yz/r/EeeqbnVjAdm.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Fredoka SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yu/r/Y-nTOZ8dz7b.ttf) format("truetype")}

@font-face{font-family:Fredoka Preview;src:url(/rsrc.php/yK/r/kqWv84k0YDL.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Freehand Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yJ/r/JbI_YJnhELR.ttf) format("truetype")}

@font-face{font-family:Freehand Preview;src:url(/rsrc.php/ym/r/seC6tqXCrkq.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Fruktur Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yT/r/E1q9yA8mB2b.ttf) format("truetype")}

@font-face{font-family:Fruktur Preview;src:url(/rsrc.php/ye/r/aDREZwfqwxz.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Grandstander Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yK/r/8ESwH3Ezg6J.ttf) format("truetype")}

@font-face{font-family:Grandstander Preview;src:url(/rsrc.php/yK/r/S6HAYqJY92G.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Grandstander Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yM/r/ZhbO7UsfmjZ.ttf) format("truetype")}

@font-face{font-family:Grandstander Preview;src:url(/rsrc.php/y4/r/dQKoPoslv8s.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Grandstander SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yl/r/p9att23BE_G.ttf) format("truetype")}

@font-face{font-family:Grandstander Preview;src:url(/rsrc.php/ya/r/2ghHtR0CKsC.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:HennyPenny Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yN/r/K546zhLKX92.ttf) format("truetype")}

@font-face{font-family:Henny Penny Preview;src:url(/rsrc.php/y0/r/yGjipe-dY_V.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:HeptaSlab Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y3/r/B1h6N91XWqB.ttf) format("truetype")}

@font-face{font-family:Hepta Slab Preview;src:url(/rsrc.php/yd/r/_pw5-rl3AMQ.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:HeptaSlab ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/yT/r/KYn0AFoowSw.ttf) format("truetype")}

@font-face{font-family:Hepta Slab Preview;src:url(/rsrc.php/yl/r/LXJdAr9METx.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:HeptaSlab Light;font-style:normal;font-weight:300;src:url(/rsrc.php/yC/r/HshqFwB5_0t.ttf) format("truetype")}

@font-face{font-family:Hepta Slab Preview;src:url(/rsrc.php/yg/r/pnVQfpk-xNm.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:HeptaSlab Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yb/r/cQk_0bMJUPc.ttf) format("truetype")}

@font-face{font-family:Hepta Slab Preview;src:url(/rsrc.php/y6/r/m3i-59SKbkM.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:HeptaSlab Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y8/r/tcUnMPiKv3s.ttf) format("truetype")}

@font-face{font-family:Hepta Slab Preview;src:url(/rsrc.php/yc/r/W3Sc5BFf3AE.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:HeptaSlab SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yB/r/MxwOo57fNyi.ttf) format("truetype")}

@font-face{font-family:Hepta Slab Preview;src:url(/rsrc.php/yb/r/hD0g5hIAW3G.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:InstagramSans Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y7/r/DCY0jEI--Ig.ttf) format("truetype")}

@font-face{font-family:Instagram Sans Preview;src:url(/rsrc.php/yk/r/z-pfjTNQoC2.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Knewave Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yT/r/wRm65gci2Mi.ttf) format("truetype")}

@font-face{font-family:Knewave Preview;src:url(/rsrc.php/yq/r/y3dRDd-8k9I.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Lato Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yq/r/pQ_n_o20IHj.ttf) format("truetype")}

@font-face{font-family:Lato Preview;src:url(/rsrc.php/yA/r/E8SnAIag_ws.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Lato Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yd/r/gvKYqWNX_uq.ttf) format("truetype")}

@font-face{font-family:Lato Preview;src:url(/rsrc.php/yS/r/ZaCGNraCt6j.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LeagueSpartan Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yC/r/jHy723RKGaz.ttf) format("truetype")}

@font-face{font-family:League Spartan Preview;src:url(/rsrc.php/yR/r/JvfgQBSKOeE.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LeagueSpartan Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/y0/r/eduQ-8Udh6Z.ttf) format("truetype")}

@font-face{font-family:League Spartan Preview;src:url(/rsrc.php/yl/r/8nAYrLTrJU6.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LeagueSpartan SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/ys/r/rFfx7YkIZRp.ttf) format("truetype")}

@font-face{font-family:League Spartan Preview;src:url(/rsrc.php/y4/r/iGNY3Tm0gHa.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreBodoni Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yx/r/ttSSzUpxpZH.ttf) format("truetype")}

@font-face{font-family:Libre Bodoni Preview;src:url(/rsrc.php/yz/r/GljeWcOGraP.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreBodoni Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yf/r/1kMhT_4g3hx.ttf) format("truetype")}

@font-face{font-family:Libre Bodoni Preview;src:url(/rsrc.php/ya/r/OkZa-UXbrox.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreBodoni Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/ys/r/o2diVFihpNg.ttf) format("truetype")}

@font-face{font-family:Libre Bodoni Preview;src:url(/rsrc.php/ya/r/dMYhh3jjTwr.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreFranklin Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/ye/r/RsqkaKAUfID.ttf) format("truetype")}

@font-face{font-family:Libre Franklin Preview;src:url(/rsrc.php/yY/r/zN0pWkqdPm0.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreFranklin ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/y7/r/-1-3MrBGQ37.ttf) format("truetype")}

@font-face{font-family:Libre Franklin Preview;src:url(/rsrc.php/y-/r/63t02A-pp0U.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreFranklin Light;font-style:normal;font-weight:300;src:url(/rsrc.php/yH/r/faShDTuM7Uz.ttf) format("truetype")}

@font-face{font-family:Libre Franklin Preview;src:url(/rsrc.php/y5/r/YgSHz4t236O.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreFranklin Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yQ/r/KtIuyLugoOt.ttf) format("truetype")}

@font-face{font-family:Libre Franklin Preview;src:url(/rsrc.php/yv/r/8xHBk3xVqvZ.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreFranklin Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yE/r/YbaRrXDg4l5.ttf) format("truetype")}

@font-face{font-family:Libre Franklin Preview;src:url(/rsrc.php/yZ/r/U64tgyjnRiW.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:LibreFranklin SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yV/r/vfinXMpyedh.ttf) format("truetype")}

@font-face{font-family:Libre Franklin Preview;src:url(/rsrc.php/y3/r/YZ4iF2HVgRc.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Lobster Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y7/r/4mJ8NtNkiT8.ttf) format("truetype")}

@font-face{font-family:Lobster Preview;src:url(/rsrc.php/yB/r/d85tHx1RJN3.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Lora Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y9/r/RTn7rFXDgPY.ttf) format("truetype")}

@font-face{font-family:Lora Preview;src:url(/rsrc.php/ye/r/dFEdJQXkfvM.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Lora Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yO/r/zBHvaF3APDB.ttf) format("truetype")}

@font-face{font-family:Lora Preview;src:url(/rsrc.php/yG/r/f8TeN1NjL7R.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Lora SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/y7/r/ecUWLjgFcyW.ttf) format("truetype")}

@font-face{font-family:Lora Preview;src:url(/rsrc.php/ye/r/Xnsmedb9Lq0.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Merriweather Black;font-style:normal;font-weight:900;src:url(/rsrc.php/yH/r/DeUVoFTZmfD.ttf) format("truetype")}

@font-face{font-family:Merriweather Preview;src:url(/rsrc.php/yD/r/IfY20tRkDWA.ttf) format("truetype");font-weight:900;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Merriweather Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yU/r/XPM82h7V_hR.ttf) format("truetype")}

@font-face{font-family:Merriweather Preview;src:url(/rsrc.php/y3/r/_M-JoIgpCpu.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Merriweather Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yz/r/pyU0ClqjqZ1.ttf) format("truetype")}

@font-face{font-family:Merriweather Preview;src:url(/rsrc.php/yL/r/N2yaeeCuQ0Y.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Montserrat Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y7/r/aFxxEeUjICw.ttf) format("truetype")}

@font-face{font-family:Montserrat Preview;src:url(/rsrc.php/yJ/r/VFePdSS6SJ8.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Montserrat Light;font-style:normal;font-weight:300;src:url(/rsrc.php/yF/r/ZmygF8KoquV.ttf) format("truetype")}

@font-face{font-family:Montserrat Preview;src:url(/rsrc.php/yE/r/SxOl6XlcR4e.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Montserrat Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yn/r/rSMUsZq7mf4.ttf) format("truetype")}

@font-face{font-family:Montserrat Preview;src:url(/rsrc.php/yi/r/kFobo-4RKa_.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NotoSans Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yR/r/I0a32rvboIT.ttf) format("truetype")}

@font-face{font-family:Noto Sans Preview;src:url(/rsrc.php/y5/r/UwsJjPGqItY.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NotoSans Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yb/r/-9GjSZB8dhB.ttf) format("truetype")}

@font-face{font-family:Noto Sans Preview;src:url(/rsrc.php/yL/r/D2UJfEiBv9z.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Noto Sans Simplified Chinese;font-style:normal;font-weight:1 999;src:url(/rsrc.php/yR/r/YBgsPsRUq2m.ttf) format("truetype")}

@font-face{font-family:Noto Sans Simplified Chinese Preview;src:url(/rsrc.php/yR/r/YBgsPsRUq2m.ttf) format("truetype");font-weight:1 999;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Noto Sans Japanese;font-style:normal;font-weight:1 999;src:url(/rsrc.php/yn/r/5IIMNkPJOKO.woff2) format("woff2"),url(/rsrc.php/y8/r/vEx5oqvwbOU.woff) format("woff")}

@font-face{font-family:Noto Sans Japanese Preview;src:url(/rsrc.php/yn/r/5IIMNkPJOKO.woff2) format("woff2"),url(/rsrc.php/y8/r/vEx5oqvwbOU.woff) format("woff");font-weight:1 999;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Noto Sans Korean;font-style:normal;font-weight:1 999;src:url(/rsrc.php/yf/r/KrpBV8F6RWZ.woff2) format("woff2"),url(/rsrc.php/yL/r/5trlp-VYitB.woff) format("woff")}

@font-face{font-family:Noto Sans Korean Preview;src:url(/rsrc.php/yf/r/KrpBV8F6RWZ.woff2) format("woff2"),url(/rsrc.php/yL/r/5trlp-VYitB.woff) format("woff");font-weight:1 999;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NotoSerif Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y2/r/7UH8qKi0qAB.ttf) format("truetype")}

@font-face{font-family:"Noto Serif Preview";src:url(/rsrc.php/yF/r/yYRGX-snZNN.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NotoSerif Light;font-style:normal;font-weight:300;src:url(/rsrc.php/yd/r/VMsVh6wn8xG.ttf) format("truetype")}

@font-face{font-family:"Noto Serif Preview";src:url(/rsrc.php/y0/r/11rZ9USs8yi.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NotoSerif Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yA/r/5GeiadnPU9M.ttf) format("truetype")}

@font-face{font-family:"Noto Serif Preview";src:url(/rsrc.php/yV/r/hQQXdaaD0ZZ.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NunitoSans_10pt Black;font-style:normal;font-weight:900;src:url(/rsrc.php/yL/r/GYnJAqIoYWA.ttf) format("truetype")}

@font-face{font-family:Nunito Sans Preview;src:url(/rsrc.php/yD/r/bhmC5-8eFAS.ttf) format("truetype");font-weight:900;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NunitoSans_10pt Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yV/r/Coj0aCuQHW4.ttf) format("truetype")}

@font-face{font-family:Nunito Sans Preview;src:url(/rsrc.php/yn/r/-WLjR_0bzTn.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NunitoSans_10pt ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/y-/r/quOlt9UOhYs.ttf) format("truetype")}

@font-face{font-family:Nunito Sans Preview;src:url(/rsrc.php/yS/r/Icx-whVzqXz.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NunitoSans_10pt Light;font-style:normal;font-weight:300;src:url(/rsrc.php/yW/r/ZcS-x-ig-AN.ttf) format("truetype")}

@font-face{font-family:Nunito Sans Preview;src:url(/rsrc.php/y_/r/-2LlEKuLS24.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NunitoSans_10pt Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yB/r/9-7Fw6ybXIx.ttf) format("truetype")}

@font-face{font-family:Nunito Sans Preview;src:url(/rsrc.php/yt/r/MUxbrWZB6dK.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:NunitoSans_10pt SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yG/r/0O5Fq1Fc_3G.ttf) format("truetype")}

@font-face{font-family:Nunito Sans Preview;src:url(/rsrc.php/yC/r/5_xuXXrlBFQ.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:OldStandardTT Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yP/r/6QhuAWZ08r0.ttf) format("truetype")}

@font-face{font-family:Old Standard TT Preview;src:url(/rsrc.php/ys/r/DpLi9p-cbFl.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:OldStandardTT Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yY/r/YO-x2-Sy0wQ.ttf) format("truetype")}

@font-face{font-family:Old Standard TT Preview;src:url(/rsrc.php/yV/r/8I1UU8qXGLg.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:OpenSans Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y7/r/WmqkjWlpntr.ttf) format("truetype")}

@font-face{font-family:Open Sans Preview;src:url(/rsrc.php/yB/r/W3fCARDeVTA.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:OpenSans Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yU/r/xJXmN6GJj02.ttf) format("truetype")}

@font-face{font-family:Open Sans Preview;src:url(/rsrc.php/yh/r/gLNZPRCArJI.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Oswald Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yz/r/zJ-y7BS6N7q.ttf) format("truetype")}

@font-face{font-family:Oswald Preview;src:url(/rsrc.php/yg/r/eUFAfFiAqao.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Oswald Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/ye/r/rXrk5SEPkEz.ttf) format("truetype")}

@font-face{font-family:Oswald Preview;src:url(/rsrc.php/yn/r/HsHEKY7IUnL.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:PTSerif Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yN/r/CJ6RxtDYtnn.ttf) format("truetype")}

@font-face{font-family:"PT Serif Preview";src:url(/rsrc.php/yb/r/gvSEYAeMVdn.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:PTSerif Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yA/r/EFK4k83eanm.ttf) format("truetype")}

@font-face{font-family:"PT Serif Preview";src:url(/rsrc.php/yV/r/CtkAii68LnD.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Pacifico Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yO/r/PShybL878nP.ttf) format("truetype")}

@font-face{font-family:Pacifico Preview;src:url(/rsrc.php/yU/r/dlLf9MJiBrm.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:PetitFormalScript Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/ye/r/10NHVW4xCKh.ttf) format("truetype")}

@font-face{font-family:Petit Formal Script Preview;src:url(/rsrc.php/yM/r/Iz6cMg6j3ZK.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:PlayfairDisplay Black;font-style:normal;font-weight:900;src:url(/rsrc.php/yc/r/Qst4crK0W58.ttf) format("truetype")}

@font-face{font-family:Playfair Display Preview;src:url(/rsrc.php/ym/r/RBDpQqGdEIv.ttf) format("truetype");font-weight:900;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:PlayfairDisplay Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yY/r/59XZ8Op0bck.ttf) format("truetype")}

@font-face{font-family:Playfair Display Preview;src:url(/rsrc.php/yw/r/PLMfRUfKVa8.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:PlayfairDisplay Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yn/r/lFXJdQ4o7JN.ttf) format("truetype")}

@font-face{font-family:Playfair Display Preview;src:url(/rsrc.php/yz/r/-OMV1caCcLq.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Poppins Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yC/r/rdQTTj4P0Nr.ttf) format("truetype")}

@font-face{font-family:Poppins Preview;src:url(/rsrc.php/yA/r/DZ9ZQ2-qAg7.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Poppins Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yn/r/mKqzXiWML6y.ttf) format("truetype")}

@font-face{font-family:Poppins Preview;src:url(/rsrc.php/y-/r/7ejCsDmvY8H.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:PressStart2P Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yC/r/mMoAO3MBeyE.ttf) format("truetype")}

@font-face{font-family:"Press Start 2P Preview";src:url(/rsrc.php/y4/r/YPo1sELMPEG.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:ProzaLibre Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yV/r/64Oqr2HC635.ttf) format("truetype")}

@font-face{font-family:Proza Libre Preview;src:url(/rsrc.php/yd/r/oBtl_tFeJTO.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:ProzaLibre Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/ye/r/QCsTTJCcNho.ttf) format("truetype")}

@font-face{font-family:Proza Libre Preview;src:url(/rsrc.php/yE/r/iXtyCX_QEox.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:ProzaLibre SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yV/r/WM2ekUgDhTf.ttf) format("truetype")}

@font-face{font-family:Proza Libre Preview;src:url(/rsrc.php/yx/r/dKl_kctnbH4.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Quantico Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y3/r/eSTIEnlL0iJ.ttf) format("truetype")}

@font-face{font-family:Quantico Preview;src:url(/rsrc.php/y6/r/Hb4eSzetiCW.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Quattrocento Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yM/r/h94gcCoVJRZ.ttf) format("truetype")}

@font-face{font-family:Quattrocento Preview;src:url(/rsrc.php/y-/r/j1nOPVOO8oT.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Quattrocento Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yd/r/bumMxJdvCLi.ttf) format("truetype")}

@font-face{font-family:Quattrocento Preview;src:url(/rsrc.php/yK/r/TsgfCmVQ8ew.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Quicksand Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yG/r/W3J47PVrcfO.ttf) format("truetype")}

@font-face{font-family:Quicksand Preview;src:url(/rsrc.php/yd/r/0sswEr5S-_-.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rajdhani Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yJ/r/8918qDOf3UJ.ttf) format("truetype")}

@font-face{font-family:Rajdhani Preview;src:url(/rsrc.php/yn/r/FaqQpagCz0X.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rajdhani Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yg/r/cAk4yTrhw-R.ttf) format("truetype")}

@font-face{font-family:Rajdhani Preview;src:url(/rsrc.php/yV/r/VM5Ntn-Q2yJ.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rajdhani SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yW/r/y3MBEFILnyc.ttf) format("truetype")}

@font-face{font-family:Rajdhani Preview;src:url(/rsrc.php/yO/r/16K4p1Bwwh3.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Raleway Black;font-style:normal;font-weight:900;src:url(/rsrc.php/yY/r/xpl7w75Uc2l.ttf) format("truetype")}

@font-face{font-family:Raleway Preview;src:url(/rsrc.php/yR/r/LxK3Uz8E-HQ.ttf) format("truetype");font-weight:900;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Raleway Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yL/r/nuNp2ZKTvUF.ttf) format("truetype")}

@font-face{font-family:Raleway Preview;src:url(/rsrc.php/yF/r/H_c3EQom1wY.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Raleway Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yK/r/nDX9fJB-Pnh.ttf) format("truetype")}

@font-face{font-family:Raleway Preview;src:url(/rsrc.php/y4/r/xEdGSK9Tvew.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Roboto Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yu/r/6NiAmrQmyDO.ttf) format("truetype")}

@font-face{font-family:Roboto Preview;src:url(/rsrc.php/yO/r/dujNMmsHxEA.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Roboto Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yA/r/wFXtZLgo4nM.ttf) format("truetype")}

@font-face{font-family:Roboto Preview;src:url(/rsrc.php/y-/r/5t9X6acgXcj.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:RobotoSlab Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/ys/r/Yd3d1S-bksE.ttf) format("truetype")}

@font-face{font-family:Roboto Slab Preview;src:url(/rsrc.php/yA/r/jocmTo4wD4F.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:RobotoSlab Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/ym/r/PlOxhg2yMAs.ttf) format("truetype")}

@font-face{font-family:Roboto Slab Preview;src:url(/rsrc.php/ym/r/Gkaq1pD_Hrn.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rosarivo Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y3/r/tBwEhEjI2cT.ttf) format("truetype")}

@font-face{font-family:Rosarivo Preview;src:url(/rsrc.php/yw/r/rzjZ9KgLKfr.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rubik Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yr/r/Uudim2Sgk8W.ttf) format("truetype")}

@font-face{font-family:Rubik Preview;src:url(/rsrc.php/yq/r/GxqFX-ycFif.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rubik ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/yk/r/mD956fv_ZlJ.ttf) format("truetype")}

@font-face{font-family:Rubik Preview;src:url(/rsrc.php/y1/r/Njs22bB7mHP.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rubik Light;font-style:normal;font-weight:300;src:url(/rsrc.php/yv/r/1O8sDEaFJb0.ttf) format("truetype")}

@font-face{font-family:Rubik Preview;src:url(/rsrc.php/yr/r/9mfdS6e2Oa8.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rubik Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yv/r/D1By2Fd8XRS.ttf) format("truetype")}

@font-face{font-family:Rubik Preview;src:url(/rsrc.php/y2/r/vCL-E660lEb.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rubik Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y2/r/dAAaxInG2_i.ttf) format("truetype")}

@font-face{font-family:Rubik Preview;src:url(/rsrc.php/yN/r/5eMS7vTAy_n.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Rubik SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yJ/r/VIeKnedv9h3.ttf) format("truetype")}

@font-face{font-family:Rubik Preview;src:url(/rsrc.php/y3/r/mpGFwNki7L2.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Shojumaru Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yT/r/3qc83A99H8Q.ttf) format("truetype")}

@font-face{font-family:Shojumaru Preview;src:url(/rsrc.php/yQ/r/nSRlusv9sck.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SofiaSans Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y7/r/zsRo_ufBU0O.ttf) format("truetype")}

@font-face{font-family:Sofia Sans Preview;src:url(/rsrc.php/yr/r/8GJpFR4fawJ.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SofiaSans ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/y2/r/kAWsMH_9Pkw.ttf) format("truetype")}

@font-face{font-family:Sofia Sans Preview;src:url(/rsrc.php/yP/r/gHTs4-v5biz.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SofiaSans SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yw/r/xS-4RXKU_a5.ttf) format("truetype")}

@font-face{font-family:Sofia Sans Preview;src:url(/rsrc.php/yY/r/Q1DKWzv_qgX.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SortsMillGoudy Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yF/r/FerzBDCiShH.ttf) format("truetype")}

@font-face{font-family:Sorts Mill Goudy Preview;src:url(/rsrc.php/y4/r/46NHXELQCXv.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SourceSans3 Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/y0/r/b4rp_c1v21D.ttf) format("truetype")}

@font-face{font-family:"Source Sans 3 Preview";src:url(/rsrc.php/yn/r/9xe35Kr1bqt.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SourceSans3 ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/y7/r/Uxro8PrZZYN.ttf) format("truetype")}

@font-face{font-family:"Source Sans 3 Preview";src:url(/rsrc.php/y6/r/LR556wfkpMV.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SourceSans3 Light;font-style:normal;font-weight:300;src:url(/rsrc.php/yU/r/6E-DecM7jjf.ttf) format("truetype")}

@font-face{font-family:"Source Sans 3 Preview";src:url(/rsrc.php/yP/r/vChjommNIo1.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SourceSans3 Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yX/r/51un_bA4akX.ttf) format("truetype")}

@font-face{font-family:"Source Sans 3 Preview";src:url(/rsrc.php/yi/r/LvIKlg8kjLm.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:SourceSans3 SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yU/r/uvnPVF4b1Dd.ttf) format("truetype")}

@font-face{font-family:"Source Sans 3 Preview";src:url(/rsrc.php/yg/r/kDhJxtatEa7.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Teko Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yp/r/Ku_0A4Zr1wG.ttf) format("truetype")}

@font-face{font-family:Teko Preview;src:url(/rsrc.php/y4/r/WFi1FtEm6Qq.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Teko Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yp/r/It96jIjDH0J.ttf) format("truetype")}

@font-face{font-family:Teko Preview;src:url(/rsrc.php/y-/r/W-Iz_CN_phT.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Teko SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/y3/r/zBtMSUY4j4s.ttf) format("truetype")}

@font-face{font-family:Teko Preview;src:url(/rsrc.php/yi/r/RaDvbvm6YB8.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Trocchi Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yZ/r/SVaDkrerzDd.ttf) format("truetype")}

@font-face{font-family:Trocchi Preview;src:url(/rsrc.php/yZ/r/KtQ7toCBTsZ.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:UnifrakturMaguntia Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y-/r/HZH6x67_glA.ttf) format("truetype")}

@font-face{font-family:UnifrakturMaguntia Preview;src:url(/rsrc.php/yQ/r/gKo__-36YdB.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:Vidaloka Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yX/r/9ERxDNcIYB3.ttf) format("truetype")}

@font-face{font-family:Vidaloka Preview;src:url(/rsrc.php/yk/r/OzRzAEcIhkL.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:WorkSans Black;font-style:normal;font-weight:900;src:url(/rsrc.php/ye/r/9P_9JqN8UU_.ttf) format("truetype")}

@font-face{font-family:Work Sans Preview;src:url(/rsrc.php/yS/r/BIjRXsSb8dC.ttf) format("truetype");font-weight:900;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:WorkSans Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yD/r/j2gULYnWEgQ.ttf) format("truetype")}

@font-face{font-family:Work Sans Preview;src:url(/rsrc.php/yP/r/48Ce-D-8bSb.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:WorkSans ExtraBold;font-style:normal;font-weight:700;src:url(/rsrc.php/y8/r/55rq0wj7Plc.ttf) format("truetype")}

@font-face{font-family:Work Sans Preview;src:url(/rsrc.php/yZ/r/TFK72cU6qXi.ttf) format("truetype");font-weight:800;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:WorkSans Light;font-style:normal;font-weight:300;src:url(/rsrc.php/ye/r/LyMugR1PcY7.ttf) format("truetype")}

@font-face{font-family:Work Sans Preview;src:url(/rsrc.php/yb/r/WRAwFN5cgR5.ttf) format("truetype");font-weight:300;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:WorkSans Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/yn/r/g6e9msQ7yla.ttf) format("truetype")}

@font-face{font-family:Work Sans Preview;src:url(/rsrc.php/yP/r/G73-l_7UVTZ.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:WorkSans Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/y6/r/ExYAfN5U5mt.ttf) format("truetype")}

@font-face{font-family:Work Sans Preview;src:url(/rsrc.php/yY/r/a4MOn3HojBL.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:WorkSans SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yE/r/ktQ1SvO0JjA.ttf) format("truetype")}

@font-face{font-family:Work Sans Preview;src:url(/rsrc.php/y1/r/lfOJzh3Mdc2.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:ZenOldMincho Black;font-style:normal;font-weight:900;src:url(/rsrc.php/yO/r/21eqVsJ7vkY.ttf) format("truetype")}

@font-face{font-family:Zen Old Mincho Preview;src:url(/rsrc.php/yq/r/EAvj0sV7svZ.ttf) format("truetype");font-weight:900;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:ZenOldMincho Bold;font-style:normal;font-weight:700;src:url(/rsrc.php/yw/r/T0Xig0Sezq8.ttf) format("truetype")}

@font-face{font-family:Zen Old Mincho Preview;src:url(/rsrc.php/y0/r/S9DKpugU7nv.ttf) format("truetype");font-weight:700;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:ZenOldMincho Medium;font-style:normal;font-weight:500;src:url(/rsrc.php/y1/r/vtNZx6XiWtR.ttf) format("truetype")}

@font-face{font-family:Zen Old Mincho Preview;src:url(/rsrc.php/yu/r/MdEi_0sWnfZ.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:ZenOldMincho Regular;font-style:normal;font-weight:400;src:url(/rsrc.php/yz/r/hQzbY_anYkx.ttf) format("truetype")}

@font-face{font-family:Zen Old Mincho Preview;src:url(/rsrc.php/y5/r/JNzHlhjr46g.ttf) format("truetype");font-weight:400;font-style:normal;font-display:block}

@font-face{font-display:block;font-family:ZenOldMincho SemiBold;font-style:normal;font-weight:600;src:url(/rsrc.php/yG/r/BPebOHxv6yU.ttf) format("truetype")}

@font-face{font-family:Zen Old Mincho Preview;src:url(/rsrc.php/yt/r/tDx-KUSxDaD.ttf) format("truetype");font-weight:600;font-style:normal;font-display:block}
